@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    display: grid;
    font-family: 'Rubik', sans-serif;
    height: 100vh;
}

input[type="text"] {
    grid-row: 1 / -1;
    background-color: rgba(245, 184, .1);
    border-radius: .5rem;
    /* display: grid; */
    width: 25rem;
    height: 1.5rem;
    font-size: 15px;
    padding-left: .5rem;
    padding-bottom: .1rem;
}

button {
    font-family: 'Rubik', sans-serif;
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 5px;
    min-height: 30px;
    min-width: 0;
    outline: none;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    height: 40px;
}

button:disabled {
    pointer-events: none;
}

button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

button:active {
    box-shadow: none;
    transform: translateY(0);
}

header {
    background-color: rgba(255, 255, 255, 0.74);
    box-shadow: 2px 3px 3px gray;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 2 / 4;
    padding: 1rem;
}

.header-info {
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    grid-template-columns: 1fr;
    grid-row: 2;
    padding: 1rem;

}

.header-info>p {
    padding-top: .3rem;
}

#profile-pic {
    width: 80px;
    border: solid;
    border-radius: 8px;
}

#profile-pic-2 {
    width: 50px;
    border: solid;
    border-radius: 8px;
}

#profile-pic-3 {
    width: 50px;
    border: solid;
    border-radius: 8px;
}

#profile-pic-4 {
    width: 50px;
    border: solid;
    border-radius: 8px;
}

#profile-pic-5 {
    width: 50px;
    border: solid;
    border-radius: 8px;
}

.bell-icon {
    padding: 1rem;
}

.headerBtns {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.top-right-info {
    display: flex;
    justify-items: flex-end;
    justify-content: end;
    align-items: center;
}

.top-right-info>p {
    margin: 1rem;
}

.top-right-info>h3 {
    padding: .5rem;
    align-self: center;
}

.search-bar {
    display: flex;
    align-items: center;
}

.sidebar {
    background-color: rgba(245, 184, .7);
    display: flex;
    flex-direction: column;
    grid-row: 1 / span 3;
    padding: 2rem;
}

.sidebar>h2 {
    padding: .5rem;
}

.sidebar>ul>li,
.sidebar>ul>li>p,
.sidebar>h2 {
    display: flex;
    align-items: center;
    padding: .5rem;
}

.main-content {
    display: grid;
    grid-template-rows: auto 1fr;

}

.main-content>h3 {
    justify-self: flex-start;
    margin: 1.5rem 1.5rem;
    text-decoration: underline 2px;
}

.card {
    border-style: solid;
    border-radius: 5px;
    padding: 5px;
}

.card-icons,
.card-icons>img {
    display: flex;
    justify-content: flex-end;
    padding: .5rem;
}

.article {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;
    padding: 1rem;
    height: fit-content;
}

.right-side-content {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr 1fr)); */
    /* height: 25rem; */
    width: 23rem;
    margin: .5rem;
}

.right-side-content>h3 {
    padding: 1rem;
    text-decoration: underline 2px;
}

.trending-users>h3 {
    display: grid;
    padding: 1rem;
    text-decoration: underline 2px;
}

.trending-users>.card {
    display: flex;
}

ul>li {
    padding: 15px;
}